@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

.tabs__section {
  min-height: 100vh;
  padding: 5rem 0;
  background: hsl(210, 36%, 96%);
  font-family: "Open Sans", sans-serif;
  color: hsl(209, 61%, 16%);
  font-size: 0.875rem;
  line-height: 1.5;
}
.tabs__section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}

.tabs__title {
  text-align: center;
  margin-bottom: 4rem;
}
.tabs__title h2 {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  text-transform: capitalize;
  letter-spacing: 0.25rem;
  margin-bottom: 0.75rem;
}
.tabs__title p {
  max-width: 75%;
  margin: 0 auto;
  color: hsl(210, 22%, 49%);
}

.tabs__about-img {
  margin-bottom: 2rem;
}
.tabs__about-img img {
  border-radius: 0.5rem;
  object-fit: cover;
  height: 20rem;
  width: 100%;
  display: block;
}
.tabs__about {
  background: #fff;
  border-radius: 0.5rem;
  display: grid;
  grid-template-rows: auto 1fr;
}
.tabs__about-btn {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.tabs__tab-btn {
  padding: 1rem 0;
  border: none;
  text-transform: capitalize;
  font-size: 1rem;
  background: hsl(212, 33%, 89%);
  cursor: pointer;
  transition: all 0.3s linear;
  letter-spacing: 0.25rem;
  font-family: "Open Sans", sans-serif;
}
.tabs__tab-btn:hover:not(.active) {
  background: hsl(205, 100%, 96%);
  color: #49a6e9;
}
.tabs__tab-btn.active {
  background: #fff;
}
.tabs__tab-btn:nth-child(1) {
  border-top-left-radius: 0.5rem;
}
.tabs__tab-btn:nth-child(3) {
  border-top-right-radius: 0.5rem;
}

.tabs__about-content {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  padding: 2rem 1.5rem;
}

.tabs__content {
  display: none;
}
.tabs__content.active {
  display: block;
}
.tabs__content h4 {
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  text-transform: capitalize;
  letter-spacing: 0.25rem;
  margin-bottom: 0.75rem;
}
.tabs__content p {
  color: hsl(210, 22%, 49%);
  margin-bottom: 1.25rem;
}
.tabs__content ul {
  list-style-type: none;
  padding-left: 1rem;
}
.tabs__content ul li::before {
  content: "• ";
  color: #49a6e9;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

@media screen and (min-width: 992px) {
  .tabs__section-center {
    width: 95vw;
  }
  .tabs__title p {
    max-width: 50%;
    margin: 0 auto;
    color: hsl(210, 22%, 49%);
  }
  .tabs__about-img {
    margin-bottom: 0;
  }

  .tabs__about-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }
}
