.design-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2.5rem;
  padding-bottom: 5rem;
}

.design-menu button {
  width: 6rem;
  height: 4rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: #170d0d;
  border: 2px solid hsl(0, 0%, 95%);
  border-radius: 0.5rem;
  cursor: pointer;
}

.design-menu button {
  background-color: hsl(0, 0%, 95%);
  color: hsl(0, 0%, 8%);
}
.design-menu button:hover {
  color: hsl(0, 0%, 95%);
}

.design-menu button:nth-child(1):hover {
  background: linear-gradient(
    157deg,
    hsl(210, 96%, 69%) -12%,
    hsl(210, 96%, 54%) 109%
  );
}
.design-menu button:nth-child(2):hover {
  background: linear-gradient(135deg, hsl(175, 55%, 40%), hsl(175, 30%, 48%));
}
.design-menu button:nth-child(3):hover {
  background: hsl(209, 61%, 16%);
}
.design-menu button:nth-child(4):hover {
  background: #0d1117;
}
.design-menu button:nth-child(5):hover {
  background: #c59d5f;
}

@media (max-width: 768px) {
  .design-menu {
    gap: 2rem;
  }
  .design-menu button {
    width: 5.5rem;
    height: 4rem;
    font-size: 1.5rem;
  }
}

@media (max-width: 300px) {
  .design-menu {
    gap: 1.5rem;
  }
  .design-menu button {
    width: 4.5rem;
    height: 3.5rem;
    font-size: 1.2rem;
  }
}
