@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/* Base */
.countdown__section {
  width: 100%;
  padding: 0rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  background: var(--color-section);
  color: #c59d5f;
  /* color: hsl(209, 61%, 16%); */
  line-height: 1.5;
  font-size: 0.875rem;
  text-align: center;
}

/* Message de fin */
.countdown__giveaway {
  font-size: 1rem;
  margin-bottom: 2rem;
  /* color: #c59d5f; */
  /* color: hsl(205, 63%, 48%); */
  font-weight: 600;
  letter-spacing: 1px;
}

/* Bloc du compte à rebours */
.countdown__deadline {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}

/* Bloc individuel (jours, heures, etc.) */
.countdown__deadline-format {
  background: #c59d5f;
  /* background: hsl(209, 61%, 16%); */
  color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  width: 6rem;
  height: 6rem;
  display: grid;
  place-items: center;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

/* Chiffres */
.countdown__deadline-format h4 {
  font-size: 2rem;
  margin-bottom: 0.25rem;
  font-weight: bold;
  letter-spacing: 1px;
}

/* Libellés (jours, heures, etc.) */
.countdown__deadline-format span {
  font-size: 0.75rem;
  text-transform: uppercase;
  color: white;
}

/* Responsive */
@media screen and (min-width: 768px) {
  .countdown__giveaway {
    font-size: 1.25rem;
  }
  .countdown__deadline-format {
    width: 7rem;
    height: 7rem;
  }
  .countdown__deadline-format h4 {
    font-size: 2.25rem;
  }
  .countdown__deadline-format span {
    letter-spacing: 2px;
  }
}
