@import url("https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap");

/* Conteneur principal centré */
.loading__container {
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: hsl(0, 0%, 96%);
  overflow: hidden;
}

/* Titre + points */
.loading__title {
  color: hsl(0, 0%, 12%);
  font-size: 2rem;
  font-family: "Inter", sans-serif;
  font-weight: 800;
  display: flex;
  align-items: end;
  gap: 0.5rem;
  position: relative;
}

/* Ensemble des points */
.loading__dots {
  display: inline-flex;
  column-gap: 0.25rem;
  position: relative;
  margin-bottom: 0.5rem;
}

/* Point classique */
.loading__dot {
  position: relative;
  width: 8px;
  height: 8px;
  background-color: hsl(0, 0%, 12%);
  border-radius: 50%;
}

/* Dot 1 (caché au départ) */
.loading__dot:nth-child(1) {
  position: absolute;
  transform: scale(0);
}

/* Dot 4 est transparent pour contenir dot-down */
.loading__dot:nth-child(4) {
  background: transparent;
}

/* Dot qui tombe */
.loading__dot-down {
  display: block;
  width: 8px;
  height: 8px;
  background-color: hsl(0, 0%, 12%);
  border-radius: 50%;
  transform: translate(0);
}

/* === ANIMATIONS === */
.animate .loading__dot:nth-child(1) {
  animation: loading__scale-dot 0.8s 0.2s forwards;
}

.animate .loading__dot:nth-child(2),
.animate .loading__dot:nth-child(3) {
  animation: loading__move-right 0.6s forwards;
}

.animate .loading__dot-down {
  animation: loading__move-right-down 0.8s 0.2s forwards linear,
    loading__move-down 2.8s 0.3s forwards ease-in;
}

@keyframes loading__scale-dot {
  100% {
    transform: scale(1);
  }
}

@keyframes loading__move-right {
  100% {
    transform: translateX(0.75rem);
  }
}

@keyframes loading__move-right-down {
  50% {
    transform: translate(1.5rem, 0.25rem);
  }
  100% {
    transform: translate(2rem, 0.5rem);
  }
}

@keyframes loading__move-down {
  100% {
    transform: translate(10rem, 80vh);
  }
}
