:root {
  --first-color: hsl(234, 62%, 56%);
  --icon-color: hsl(234, 12%, 24%);
  --body-color: hsl(234, 48%, 97%);
  --container-color: hsl(234, 100%, 99%);
}

.floating {
  display: grid;
  place-items: center;
  background-color: var(--body-color);
}

.floating__container {
  position: relative;
}

.floating__toggle,
.floating__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--container-color);
}

.floating__toggle {
  width: 70px;
  height: 70px;
  font-size: 2rem;
  color: var(--first-color);
  box-shadow: -6px -6px 24px hsl(234, 48%, 98%), 6px 6px 24px hsl(234, 48%, 88%),
    inset 6px 6px 24px hsl(234, 48%, 98%),
    inset -6px -6px 24px hsl(234, 48%, 88%);
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
}

.floating__toggle i {
  transition: transform 0.8s ease-in-out;
}

.floating__toggle:hover {
  transform: scale(0.95);
  box-shadow: 6px 6px 24px hsl(234, 48%, 98%), -6px -6px 24px hsl(234, 48%, 88%),
    inset -6px -6px 24px hsl(234, 48%, 98%),
    inset 6px 6px 24px hsl(234, 48%, 88%);
}

.floating__menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 70px;
  list-style: none;
  pointer-events: none;
}

.floating__menu li {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0, 0);
  opacity: 0;
  transition: transform 0.8s ease-in-out, opacity 0.6s;
  pointer-events: auto;
}

.floating__menu.active li:nth-child(1) {
  transform: translate(3.5rem, -3.5rem);
  opacity: 1;
  transition-delay: 0.1s;
}

.floating__menu.active li:nth-child(2) {
  transform: translate(5.5rem, 0);
  opacity: 1;
  transition-delay: 0.2s;
}

.floating__menu.active li:nth-child(3) {
  transform: translate(3.5rem, 3.5rem);
  opacity: 1;
  transition-delay: 0.3s;
}

.floating__link {
  width: 40px;
  height: 40px;
  border: none;
  background: transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.floating__icon {
  width: 100%;
  height: 100%;
  font-size: 1rem;
  color: var(--icon-color);
  box-shadow: -4px -4px 16px hsl(234, 48%, 98%), 4px 4px 16px hsl(234, 48%, 90%),
    inset 4px 4px 16px hsl(234, 48%, 98%),
    inset -4px -4px 16px hsl(234, 48%, 90%);
  border-radius: 50%;
  transition: box-shadow 0.3s;
}

.floating__icon:hover {
  box-shadow: 4px 4px 16px hsl(234, 48%, 98%), -4px -4px 16px hsl(234, 48%, 90%),
    inset -4px -4px 16px hsl(234, 48%, 98%),
    inset 4px 4px 16px hsl(234, 48%, 90%);
}

.floating__toggle.active i {
  transform: rotate(135deg);
}
