@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

/* SECTION */
.floating__section {
  min-height: 100vh;
  background-color: hsl(234, 48%, 97%);
  display: grid;
  place-items: center;
  font-family: "Poppins", sans-serif;
}

/* CONTAINER */
.floating__container {
  position: relative;
}

.floating__toggle,
.floating__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: hsl(234, 100%, 99%);
}

/* TOGGLE BUTTON */
.floating__toggle {
  width: 70px;
  height: 70px;
  font-size: 2rem;
  color: hsl(234, 62%, 56%);
  box-shadow: -6px -6px 24px hsl(234, 48%, 98%), 6px 6px 24px hsl(234, 48%, 88%),
    inset 6px 6px 24px hsl(234, 48%, 98%),
    inset -6px -6px 24px hsl(234, 48%, 88%);
  position: relative;
  z-index: 10;
  cursor: pointer;
  /* transition: transform 0.3s, box-shadow 0.3s; */
  transition: box-shadow 0.3s ease-in-out, transform 0.3s;
}

.floating__toggle i {
  transition: transform 0.8s ease-in-out;
}

.floating__toggle:hover {
  box-shadow: 6px 6px 24px hsl(234, 48%, 98%), -6px -6px 24px hsl(234, 48%, 88%),
    inset -6px -6px 24px hsl(234, 48%, 98%),
    inset 6px 6px 24px hsl(234, 48%, 88%);
  transform: scale(0.95);
}

.floating__icon,
.floating__link {
  width: 40px;
  height: 40px;
}

.floating__icon {
  font-size: 1rem;
  color: hsl(234, 12%, 24%);
  box-shadow: -4px -4px 16px hsl(234, 48%, 98%), 4px 4px 16px hsl(234, 48%, 90%),
    inset 4px 4px 16px hsl(234, 48%, 98%),
    inset -4px -4px 16px hsl(234, 48%, 90%);
  transition: box-shadow 0.3s ease-in-out;
}

.floating__icon:hover {
  box-shadow: 4px 4px 16px hsl(234, 48%, 98%), -4px -4px 16px hsl(234, 48%, 90%),
    inset -4px -4px 16px hsl(234, 48%, 98%),
    inset 4px 4px 16px hsl(234, 48%, 90%);
  cursor: pointer;
}

.floating__toggle.active i {
  transform: rotate(135deg);
}

/* MENU */
.floating__menu li {
  position: absolute;
  width: 70px;
  top: 0;
  left: 0;
  opacity: 1;
  transform: translate(0, 0);
  pointer-events: auto;
  transition: transform 0.8s ease-in-out, opacity 0.6s;
}

.floating__menu.active .floating__link {
  opacity: 1;
  pointer-events: auto;
}

.floating__menu.active li:nth-child(1) {
  transform: translate(4.5rem, -2.5rem);
  transition-delay: 0.1s;
}

.floating__menu.active li:nth-child(2) {
  transform: translate(6.5rem, 1rem);
  transition-delay: 0.2s;
}

.floating__menu.active li:nth-child(3) {
  transform: translate(4.5rem, 4.5rem);
  transition-delay: 0.3s;
}

.floating__toggle.active i {
  transform: rotate(135deg);
}
