@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

.faq__questions {
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  background: hsl(210, 36%, 96%);
  color: hsl(209, 61%, 16%);
  line-height: 1.5;
  font-size: 0.875rem;
  padding: 4rem 1rem;
  text-align: center;
}

.faq__title {
  margin-top: 6vh;
  margin-bottom: 4rem;
}

.faq__title h2 {
  font-size: 2.5rem;
  letter-spacing: 0.25rem;
  font-family: "Great Vibes", cursive;
  text-align: center;
  text-transform: capitalize;
  color: #c59d5f;
  margin-bottom: 0.75rem;
}

.faq__section {
  max-width: 620px;
  margin: 0 auto;
}

.faq__question {
  background: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  padding: 1.5rem 1.5rem 0 1.5rem;
  margin-bottom: 2rem;
  text-align: left;
}

.faq__question-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  padding-bottom: 1rem;
}

.faq__question-title p {
  margin: 0;
  /* font-weight: 600; */
  font-size: 1rem;
  letter-spacing: 0.25rem;
  color: hsl(209, 61%, 16%);
}

.faq__question-btn {
  font-size: 1.5rem;
  background: transparent;
  border-color: transparent;
  color: #c59d5f;
  cursor: pointer;
  transition: all 0.3s linear;
}

.faq__question-btn:hover {
  transform: rotate(180deg);
}

.faq__question-text {
  padding: 1rem 0 1.5rem 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  display: none;
  font-size: 1rem;
}

.faq__question-text p {
  margin: 0;
  color: hsl(210, 22%, 49%);
}

.faq__show-text .faq__question-text {
  display: block;
}
.faq__minus-icon {
  display: none;
}
.faq__show-text .faq__minus-icon {
  display: inline;
}
.faq__show-text .faq__plus-icon {
  display: none;
}
