.questions {
  padding: 4rem 1rem;
  text-align: center;
}

.title {
  margin-bottom: 2rem;
}

.title h2 {
  font-size: 2rem;
  color: var(--accent-color);
}

.questions-container {
  max-width: 600px;
  margin: 0 auto;
}

.question {
  background: var(--background-light);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  text-align: left;
}

.question-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question-title p {
  margin: 0;
  font-weight: 600;
  color: var(--color-text);
}

.question-btn {
  font-size: 1.25rem;
  background: transparent;
  border: none;
  color: var(--accent-color);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.question-btn:hover {
  transform: rotate(90deg);
}

.question-text {
  padding-top: 1rem;
  border-top: 1px solid var(--border-color);
  display: none;
}

.question-text p {
  margin: 0;
  color: var(--color-text);
}

.show-text .question-text {
  display: block;
}

.minus-icon {
  display: none;
}
.show-text .minus-icon {
  display: inline;
}
.show-text .plus-icon {
  display: none;
}
